fastapi[standard]
uvicorn==0.40.0

# LLM
google-genai

# Database
sqlalchemy
aiosqlite

# Authentication
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]

# Environment Variables
python-dotenv

# Validation
pydantic

# Multipart form support (useful later for file uploads)
python-multipart